obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
bin
*.pdb
*.dll
obj/Debug
AppHarbor.v11.suo
obj/Debug/ContractorShareService.csprojResolveAssemblyReference.cache
packages
*.suo
ContractorShareService.v11.suo
Web.config
Web.config
*.suo
*.suo
ContractorShareService.v11.suo
*.suo
ContractorShareService.v11.suo
ContractorShareService.v11.suo
*.suo
ContractorShareService.v11.suo
